@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) { 
	html { 
		font-size: 110%; 
	}
} 


@media only screen and (min-width: 90em) { 
	html { 
		font-size: 120%;
	
	}
} 

@media only screen and (min-width: 120em) { 
	html { 
		font-size: 130%;
	}
}


body {
  margin: 0;
  padding: 0;
}


a:hover,
a:active {
  outline: none;
  color: #fff;	
}

a,
a:link,
a:visited {
  color: #FF8533;	
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #000;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;	
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #FF8533;
  color:#000;
}

.gutter { 
	padding-left: 1em; 
	padding-right: 1em; 
	padding-top: 1em;
} 

img {
   display: block;
   width: 100%;
}


.footer{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
	background-color: #262626;
}

.copyright{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
	color: #fff;
}

.header { 
	background-color: #262626;
	color: #FF8533;
	margin: 0; 
    padding: 0; 
	overflow: hidden;
}

.grey { 
 	background-color: #D8D8D8;
}

.smallicon {
	width:80px; 
	height:80px;
	margin-left: auto;
    margin-right: auto;	
}


.figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0em; 
  position: relative;
}

.slogan { 
    position: absolute; 
    top: 100px; 
    left: 0; 
    width: 100%; 
    color: #000;
	text-align: center;
    font-size: 1rem;
    line-height: 1.6648;
} 

.title {
    position: absolute; 
    top: 40px; 
    left: 0; 
    width: 100%; 
    color: #000;
	text-align: center;
}

h2 { 
	text-align: center;
	color: #363636; 
}

.info { 
	color: #A1A1A1; 
	text-align: center;
}

.figcap { 
 	color: #A8A8A8 ;
 	text-align: center;
}


.figcaps { 
 	color: #A8A8A8;
 	text-align: center;
	float: inherit;
}

h3 { 
	color:#363636;
	text-align: center;
}

.orange { 
	background-color:  #FF8533;
	color: #EDEDED;
}

.icon { 
	width:150px; 
	height:150px;
	margin-left: auto;
    margin-right: auto;
}

.css-carousel {
	width: 100%;
	height: 550px; 
	position: relative;
	overflow: hidden;
}
.css-carousel .css-img {
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-animation: css-carousel-fade 30s linear infinite;
	-moz-animation: css-carousel-fade 30s linear infinite;
	-ms-animation: css-carousel-fade 30s linear infinite;
	animation: css-carousel-fade 30s linear infinite;
}
.css-carousel .css-img:nth-child(2) {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-ms-animation-delay: 5s;
	animation-delay: 5s;
}
.css-carousel .css-img:nth-child(3) {
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}
.css-carousel .css-img:nth-child(4) {
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	-ms-animation-delay: 15s;
	animation-delay: 15s;
}
.css-carousel .css-img:nth-child(5) {
	-webkit-animation-delay: 20s;
	-moz-animation-delay: 20s;
	-ms-animation-delay: 20s;
	animation-delay: 20s;
}
.css-carousel .css-img:nth-child(6) {
	-webkit-animation-delay: 25s;
	-moz-animation-delay: 25s;
	-ms-animation-delay: 25s;
	animation-delay: 25s;
}
@-webkit-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@-moz-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@-ms-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@keyframes css-carousel-fade {
	0%, 20%, 100% { opacity: 0; }
	5%, 15% { opacity: 1;}
}



@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
	
}

 
@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: center;
	  		padding: 0;
		} 
	
	 .nav li { 
			display:center;
	}
	
	.copyright { 
			text-align: left;
	}
	
	.footer { 
			text-align: right;	
	}
	
	.slogan { 
    position: absolute; 
    top: 100px; 
    left: 0; 
    width: 100%; 
    color: #000;
	text-align: center;
	font-size: 1.8020rem;
    line-height: 1.6648;
} 
	
}

 
@media only screen and (min-width: 60em) { 

	
	.copyright { 
			text-align: left;
	}

	.footer { 
			text-align: right;	
	
	}

}
