@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) { 
	html { 
		font-size: 110%; 
	}
} 


@media only screen and (min-width: 90em) { 
	html { 
		font-size: 120%;
	
	}
} 

@media only screen and (min-width: 120em) { 
	html { 
		font-size: 130%;
	}
}


body {
  margin: 0;
  padding: 0;
}


a:hover,
a:active {
  outline: none;
  color: #fff;	
}

a,
a:link,
a:visited {
  color: #FF8533;	
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #000;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;	
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #FF8533;
  color:#262626;
}

.logo { 
	width: 100px;
}

.gutter { 
	padding-left: 1em; 
	padding-right: 1em; 
	padding-top: 1em;
} 

img {
   display: block;
   width: 100%;
}


.footer{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
	background-color: #262626;
	color: #fff;
}


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clr {clear:both;}

$bg: #987;  
$text: lighten($bg,35%);

.roundedborder {
  @include border-radius (.2em);
  border: 2px solid darken($bg, 10%);
}


body {
  background: $bg; 
  color:$text; 
  font-family:Century Gothic;
}

form { 
  font-size:1.2em; 
  margin: 2em auto; 
  @extend .roundedborder; 
  padding:2em;
  width:70%;
}

input, select, textarea {outline:none;}
label {padding:0 .5em 0 .5em;}


input[type='text'] {
  @extend .roundedborder;
  background-color: darken($bg, 5%);
  color: #FF8533;
  font-size:1em;
  margin:.2em 0 1em;
  padding: .25em;
  width:100%;
}

::-webkit-input-placeholder {color: lighten($bg, 10%);}
:-moz-placeholder {color: lighten($bg, 10%);} 
::-moz-placeholder {color: lighten($bg, 10%);} 
:-ms-input-placeholder {color: lighten($bg, 10%);}


fieldset {
  @extend .roundedborder;
  margin-bottom:2em;
  padding:.5em .5em;
}

input[type='radio'] {
  appearance:none;
  border: solid .1em lighten($bg,7%);;
  @include border-radius(50%);
  background-color:darken($bg, 5%);
  cursor:pointer;
  height:2.5em;
  width: 2.5em;
  margin-top:0;
  vertical-align:text-top;
}

input[type="radio"]:checked:after {
  background-color: 15%;
  border-radius:50%;
  content:"\00a0";
  display:block;
  position:relative;
  height:1.5em;
  width:1.5em;
  margin:.4em;
}

.styled-select {
  display:inline-block;
  @extend .roundedborder;
  background-color: lighten($bg, 5%);
  color: darken($bg, 10%);
  cursor:pointer;
  font-size:1.1em;
  margin-bottom:1.5em;
  padding:.25em 0;
  position:relative;
  width:15em;
}

.styled-select:before {
  font-family: sans-serif; 
  border: solid 1px darken($bg,10%);
  border-width: 0 0 0 1px;
  content:'\f103';
  color:darken($bg,15%);
  font-size:1.25em;
  padding-left:.25em;
  position:absolute;
  pointer-events:none;
  right:.35em;
}

select {
    appearance:none;
    background-color:transparent;
    border:none;
    cursor:pointer;
    color: #FF8533;
    display:inline-block;
    font-size:1em;
    margin:0; 
	padding:0 2em 0 1em;
    width:100%;
}

textarea {
  @extend .roundedborder;
  background-color: darken($bg, 5%);
  color: #FF8533;
  font-size:1em;
  height:10em;
  margin:.5em 0 1em;
  padding:1em;
  width:100%;
}

input[type='checkbox'] {
  appearance:none;
  @extend .roundedborder;
  background-color:darken($bg, 5%);
  cursor:pointer;
  font-size:1em;
  padding: .25em;
  height:1em; width:1em;
  vertical-align:text-top;
}

input[type='checkbox']:checked:after {
  border:solid $text;
  border-width:0 4px 4px 0;
  content:"\00a0";
  display:block;
  height:1em; width:.5em;
  margin-top:-.9em;
  position:relative;
  transform:rotate(45deg); 
}


input[type='submit'] {
  @extend .roundedborder;
  background-color:#FF8533;
  cursor:pointer;
  float:right;
  font-size:1.5em;
  padding: .25em 1em;
}

input[type='submit']:hover {background-color:darken($bg,5%);}

.header { 
	background-color: #262626;
	color: #FF8533;
	margin: 0; 
    padding: 0; 
	overflow: hidden;
}

.grey { 
 	background-color: #D8D8D8;
}

.smallicon {
	width:80px; 
	height:80px;
	margin-left: auto;
    margin-right: auto;	
}


.figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0em; 
  position: relative;
}

.slogan { 
    position: absolute; 
    top: 100px; 
    left: 0; 
    width: 100%; 
    color: #fff;
	text-align: center;
    font-size: 1rem;
    line-height: 1.6648;
	font-weight: 800;
} 

.slogan2 { 
    color: #fff ;
 	text-align: center;
    position: absolute; 
    top: 130px; 
    left: 0; 
    width: 100%;
	font-weight: 650;
} 

.title {
    position: absolute; 
    top: 40px; 
    left: 0; 
    width: 100%; 
    color: #fff;
	text-align: center;
}

.signup {  
	cursor: pointer;
	text-align: center;
}

.box,
.box:link, 
.box:visited
{ 
	font-size: 1.5em;
	font-weight: 600;
	color: #262626;
	background-color: white;
	opacity: 0.9;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-align: center;
	position: absolute; 
    top: 170px; 	
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;
	padding: 5px;
}

.FAQ { 
	color: #FF8533;
	font-size: 2.5em;
}

.caps {
    text-transform:capitalize;
}


h2 { 
	text-align: center;
	color: #363636; 
}

.info { 
	color: #A1A1A1; 
	text-align: center;
}

.about { 
	color: #A1A1A1; 
	text-align: center;
}

.figcap { 
 	color: #A8A8A8 ;
 	text-align: center;
}


.figcaps { 
 	color: #A8A8A8;
 	text-align: center;
	float: inherit;
}

h3 { 
	color:#363636;
	text-align: center;
}

.orange { 
	background-color: #FF8533;
	color: #fff;
}

.icon { 
	width:150px; 
	height:150px;
	margin-left: auto;
    margin-right: auto;
}

.css-carousel {
	width: 100%;
	height: 550px; 
	position: relative;
	overflow: hidden;
}
.css-carousel .css-img {
	max-width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	opacity: 0;
	-webkit-animation: css-carousel-fade 30s linear infinite;
	-moz-animation: css-carousel-fade 30s linear infinite;
	-ms-animation: css-carousel-fade 30s linear infinite;
	animation: css-carousel-fade 30s linear infinite;
}
.css-carousel .css-img:nth-child(2) {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-ms-animation-delay: 5s;
	animation-delay: 5s;
}
.css-carousel .css-img:nth-child(3) {
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-ms-animation-delay: 10s;
	animation-delay: 10s;
}
.css-carousel .css-img:nth-child(4) {
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	-ms-animation-delay: 15s;
	animation-delay: 15s;
}
.css-carousel .css-img:nth-child(5) {
	-webkit-animation-delay: 20s;
	-moz-animation-delay: 20s;
	-ms-animation-delay: 20s;
	animation-delay: 20s;
}
.css-carousel .css-img:nth-child(6) {
	-webkit-animation-delay: 25s;
	-moz-animation-delay: 25s;
	-ms-animation-delay: 25s;
	animation-delay: 25s;
}
@-webkit-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@-moz-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@-ms-keyframes css-carousel-fade {
    0%, 20%, 100% { opacity: 0; }
    5%, 15% { opacity: 1;}
}
@keyframes css-carousel-fade {
	0%, 20%, 100% { opacity: 0; }
	5%, 15% { opacity: 1;}
}

.table-outer {
  overflow-x: auto;
}

.table-inner {
  margin: 0 auto;
  max-width: 20em;
  min-width: 10em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.2rem;
  text-align: center;
  background-color:#E0E0E0 ;
  font-size: 1em;	
  color: #303030;	
  border-bottom: solid 1px #A0A0A0;
}

.started { 
	text-align: center;
}

.now { 
	border: none;
	color: #fff;
	font-size: 1.5em;
}

thead th {
  background-color: #303030;
  color: #fff;	
  font-size: 1.75em;
  border: none;	
}

.price { 
	font-size: 1.75em;
	border: none;
}

@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
		}
	
	.footer { 
			text-align: center;
		}
	
		.title {
		position: absolute; 
		top: 50px; 
		color:#fff;
	}
}

 
@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: center;
	  		padding: 0;
		} 
	
	 .nav li { 
		text-align:center;
	}
	
	.copyright { 
		text-align: left;
	}
	
	.footer { 
		text-align: right;	
	}
	
	.slogan { 
		position: absolute; 
		top: 100px; 
		left: 0; 
		width: 100%; 
		color: #fff;
		text-align: center;
		font-size: 1.8020rem;
		line-height: 1.6648;
} 
	
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;

}
	
	.slogan { 
    position: absolute; 
    top: 230px; 

} 

	.title {
		position: absolute; 
		top: 150px; 
		color:#fff;
	}
	
	.slogan2 { 

    top: 250px; 
    left: 0; 
    width: 100%;
} 


	.box,
	.box:link, 
	.box:visited
	{  
		top: 320px;
}

}
 
@media only screen and (min-width: 60em) { 

	
	.copyright { 
		text-align: left;
	}

	.footer { 
		text-align: right;	
	
	}
	
	.about { 
		color: #A1A1A1; 
		margin-left: 7em;
		margin-right: 7em;
	}
	
	.slogan { 
		position: absolute; 
		top: 280px; 

	} 

	.title {
		position: absolute; 
		top: 200px; 
	}


	.box,
	.box:link, 
	.box:visited
	{  
		top: 450px;
		font-size: 2em;
	}
	
	
}
