@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 60em) { 
	html { 
		font-size: 110%; 
	}
} 


@media only screen and (min-width: 90em) { 
	html { 
		font-size: 120%;
	
	}
} 

@media only screen and (min-width: 120em) { 
	html { 
		font-size: 130%;
	}
}


body {
  margin: 0;
  padding: 0;
}


a:hover,
a:active {
  outline: none;
  color: #fff;	
}

a,
a:link,
a:visited {
  color: #FF8533;	
}

a:focus {
  outline: 3px solid #000;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  padding: 0.5em 0.75em;
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #000;
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #fff;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
  background-color: #FF8533;
  color:#000;
}

.gutter { 
	padding-left: 1em; 
	padding-right: 1em; 
	padding-top: 1em;
} 

img {
   display: block;
   width: 100%;
}


.footer{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
	background-color: #262626;
}

.copyright{ 
	font-weight: 400;
	overflow: hidden;
	margin: 0; 
	padding: 0;
	color: #fff;
}

.header { 
	background-color: #262626;
	color: #FF8533;
	margin: 0; 
    padding: 0; 
	overflow: hidden;
}


.figure {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0em; 
  position: relative;
}

.slogan { 
    position: absolute; 
    top: 100px; 
    left: 0; 
    width: 100%; 
    color: white;
	text-align: center;
} 

.title {
    position: absolute; 
    top: 40px; 
    left: 0; 
    width: 100%; 
    color: white;
	text-align: center;
}

h2 { 
	text-align: center;
	color: #363636; 
}

.info { 
	color: #A1A1A1; 
	text-align: center;
}

.figcap { 
 	color: #A1A1A1;
 	text-align: center;
}


.figcaps { 
 	color: #A1A1A1;
 	text-align: center;
	float: inherit;
}

h3 { 
	color:#363636;
	text-align: center;
}

.orange { 
	background-color:  #FF8533;
	color: #EDEDED;
}

.icon { 
	width:150px; 
	height:150px;
	margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 30em) { 
    
	 .nav { 
			text-align: center;
		 	padding: 0;
		} 

	 .nav li { 
			display:inline-block; 
	}
	
	.footer { 
			text-align: center;
	}
	
}

 
@media only screen and (min-width: 40em) { 
     .nav { 
			text-align: center;
	  		padding: 0;
		} 
	
	 .nav li { 
			display:center;
	}
	
	.copyright { 
			text-align: left;
	}
	
	.footer { 
			text-align: right;	
	}

}

 
@media only screen and (min-width: 60em) { 

	
	.copyright { 
			text-align: left;
	}

	.footer { 
			text-align: right;	
	
	}

}
